[Unit]
Description=MowBot GUI + Stack
After=docker.service
Requires=docker.service

[Service]
WorkingDirectory=${HOME}/mowbot-setup
ExecStartPre=/usr/bin/docker compose pull
ExecStartPre=/usr/bin/docker compose create
ExecStart=/usr/bin/docker compose up mowbot_gui
ExecStop=/usr/bin/docker compose down
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target