[Unit]
Description=MowBot Utility WebUI Service
After=docker.service network-online.target
Requires=docker.service
Wants=network-online.target

[Service]
Type=simple
# User/Group are overwritten by scripts/install.sh to match the installing account.
User=
Group=
SupplementaryGroups=docker
WorkingDirectory=%h/mowbot-setup
Environment=HOME=%h
ExecStart=/usr/libexec/docker/cli-plugins/docker-compose --env-file mowbot.env -f docker-compose.yml up mowbot_utility_webui
ExecStop=/usr/libexec/docker/cli-plugins/docker-compose --env-file mowbot.env -f docker-compose.yml stop -t 30 mowbot_utility_webui
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
